.headerTitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #F2F2F2;
  }

.selectCurrent {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0.5%;
}